<!DOCTYPE html>
<html lang="en"> <html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <script th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" src="jquery-3.1.1.js"></script>
</head>
<body>
    <table style="border:3px solid #ececec">
        <thead>
            <tr style="border:3px solid #ececec">
                <th>编号</th>
                <th>商品名称</th>
                <th>生产日期</th>
                <th>描述</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="goods:${list}" style="border:3px solid #ececec">
                <td id="id" th:text="${goods.id}"></td>
                <td th:text="${goods.goodsName}"></td>
                <td th:text="${goods.goodsTime}"></td>
                <td th:text="${goods.goodsDescribe}"></td>
                <td id="del">删除</td>
            </tr>
            <tr>
                <td><a href="goodList?pageNum=1">首页</a></td>
                <td><a href="goodList?pageNum=1">上一页</a></td>
                <td><a href="goodList?pageNum=2">下一页</a></td>
                <td><a href="goodList?pageNum=2">尾页</a></td>
            </tr>
        </tbody>
    </table>
    <script type="text/javascript">
        $(function(){
            $("#del").click(function(){
                $.post(
                    "deleted",
                    {id:$(this).parent().find("#id").text()},
                    function (data) {
                        alert(data);
                        window.location.href="goodList";
                    }
                )
            })
        });
    </script>
</body>
</html>