<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
??????????
<div th:text="欢迎你+${name}" th:if="${#strings.isEmpty(name) == false}"></div>
    <script>
        //            方法   参数      函数      函数
        function post(url, jsonData, success, error) {
            $.post(base + url,  //登录页面
                jsonData,       //账号密码
                function (data) {   //得到返回结果
                    if (data.ok) {  //登录成功
                        if (success) success(data); //判断方法存在 把返回结果给予success函数处理
                    } else {
                        if (error) error(data); //判断方法存在
                    }
                });
        }

        $(function () {
            $("#btnLogin").click(function () {
                var username = $("#username").val();
                var password = $("#password").val();

                post("login.do", {"username": username, "password": password}, function (data) {
                    window.location.href = base + "index";
                }, function (data) {
                    alert(data.error);
                });
            });
        });
    </script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var base = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
</body>
</html>